ui, #world, .world-grid {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.world-grid {
    display: grid;
}

.world-cell {
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.world-cell:hover {
    background-color: #101010;
}

.player {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 2px;
}
